<button mat-raised-button color="primary" class="btn" (click)="openLoginForm()">Login</button>

<!-----------------------------------------------Slider------------------------------------------------->
<section id="image">
  <iframe class="center" src="https://www.youtube.com/embed/PkkV1vLHUvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<!-----------------------------------------------Guide lines------------------------------------------------->
  <section id="about">
    <div class="container" style="margin: 0 auto;">
      <div class="row" >
          <div class="col-md-6" style="padding-right:100px">
            <h2>Why Subscribe to a Personal Car?</h2>
              <div class="about-content">
              2020 shall always be remembered for the worldwide pandemic that changed history and our lifestyle. However, with our indomitable human spirit, we learned to survive and thrive. From managing the balance between work & home to taking care of our loved ones, we have become self-reliant in every possible way. 
              </div>
          </div>
          <div class="col-md-6 skills-bar" >
            <p>Sanitization</p>
            <div class="progress">
            <div class="progress-bar" style="width: 100%;">100%</div>
            </div>
            <p>Car capacity/People</p>
            <div class="progress">
            <div class="progress-bar" style="width: 50%;">50%
            </div>
            </div>
            <p>Discount</p>
            <div class="progress">
            <div class="progress-bar" style="width: 15%;">15%
            </div>
            </div>
          </div>
      </div>
    </div>
  </section>

<!-----------------------------------------------Services------------------------------------------------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="services">
      <h1>The Taxiwala Advantage</h1>
      <div class="row services">
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-tint" aria-hidden="true"></i>
        </div>
            <h3>Fuel Cost Included</h3>
            <p>Don't worry about mileage! All fuel costs are included. If you refill fuel, we'll pay you back!
            </p>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-money" aria-hidden="true"></i>
        </div>
            <h3>No Hidden Charges</h3>
            <p>Our prices include taxes and insurance.<br>What you see is what you really pay!</p>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
            <h3>Go Anywhere</h3>
            <p>Our cars have all-India permits.Just remember to pay state tolls and entry taxes.
            </p>
        </div>
        <div class="col-md-3 text-center">
          <div class="icon">
            <i class="fa fa-inr" aria-hidden="true"></i>
        </div>
            <h3>Damage Insurance</h3>
            <p>All your bookings include damage insurance! Drive safe, but don’t worry!
            </p>
        </div>
      </div>
</div>
<!-----------------------------------------------Our Team------------------------------------------------->
  <br>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <section id="team">
    <div class="container" style="margin: 0 auto;">
      <h1>Our Team</h1>
      <div class="row">
        <div class="col-md-3 profile-pic text-center" style="padding-right:20px">
          <div class="img-box">
            <img src="../assets/profile.jpeg" class="img-responsive">
            <ul>
              <a href="https://www.facebook.com/profile.php?id=100008247728816" target="_blank"><li><i class="fa fa-facebook"></i>
              </li></a>
              <a href="https://twitter.com/srivenbommakant" target="_blank"><li><i class="fa fa-twitter"></i>
              </li></a>
              <a href="https://www.linkedin.com/in/bommakanti-sriven-180740199/" target="_blank"><li><i class="fa fa-linkedin"></i>
              </li></a>
            </ul>
          </div>
          <h2>Sriven</h2>
          <h3>Founder / CEO</h3>
          <p>Sriven,is an Indian business executive, the chief executive officer of Alphabet Inc.He began his career as a materials engineer and joined Taxiwala as a Management executive in 2004.
          </p>
        </div>
        <div class="col-md-3 profile-pic text-center" style="padding-right:20px">
          <div class="img-box">
            <img src="../assets/p2.jpeg" class="img-responsive">
            <ul>
              <a href="#" target="_blank"><li><i class="fa fa-facebook"></i>
              </li></a>
              <a href="#" target="_blank"><li><i class="fa fa-twitter"></i>
              </li></a>
              <a href="#" target="_blank"><li><i class="fa fa-linkedin"></i>
              </li></a>
            </ul>
          </div>
          <h2>Rohith</h2>
          <h3>Bussiness Head</h3>
          <p>Rohith,is an Indian business executive, the chief executive officer of Alphabet Inc.He began his career as a materials engineer and joined Taxiwala as a Bussiness executive in 2018.
          </p>
        </div>
        <div class="col-md-3 profile-pic text-center" style="padding-right:20px">
          <div class="img-box">
            <img src="../assets/p3.jpeg" class="img-responsive">
            <ul>
              <a href="https://www.facebook.com/venu.prakash.100" target="_blank"><li><i class="fa fa-facebook"></i>
              </li></a>
              <a href="#" target="_blank"><li><i class="fa fa-twitter"></i>
              </li></a>
              <a href="https://www.linkedin.com/in/venu-prakash-3408961a7" target="_blank"><li><i class="fa fa-linkedin"></i>
              </li></a>
            </ul>
          </div>
          <h2>Venu</h2>
          <h3>Marketing Head</h3>
          <p> Venu,is an Indian business executive, the chief executive officer of Alphabet Inc.He began his career as a materials engineer and joined Taxiwala as a Marketing executive in 2020.
          </p>
        </div>
        <div class="col-md-3 profile-pic text-center" style="padding-right:20px">
          <div class="img-box">
            <img src="../assets/p4.jpeg" class="img-responsive">
            <ul>
              <a href="#" target="_blank"><li><i class="fa fa-facebook"></i>
              </li></a>
              <a href="#" target="_blank"><li><i class="fa fa-twitter" target="_blank"></i>
              </li></a>
              <a href="#" target="_blank"><li><i class="fa fa-linkedin"></i>
              </li></a>
            </ul>
          </div>
          <h2>Shivesh</h2>
          <h3>UI Desginer</h3>
          <p>Shivesh,is an Indian business executive, the chief executive officer of Alphabet Inc.He began his career as a materials engineer and joined Taxiwala as a Desginer in 2015.
          </p>
        </div>
      </div>
    </div>
  </section>
