.mat-expansion-panel-header-description, .mat-expansion-panel-header-title{
  margin-right: 16px !important;
  display: flow-root;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: rgba(66, 65, 65, 0.788) !important;
}
